[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "==5.4.1"
pytest-cov = "==2.8.1"
pytest-flake8 = "==1.0.5"
mock = "==4.0.2"
requests-mock = "==1.5.2"
httplib2 = "==0.12.1"


[packages]

enum34 = "==1.1.10"
google-api-python-client = "==1.8.2"
requests = "==2.23.0"
pipfile = "==0.0.2"


[requires]

python_version = "3.7"
